<div id="header">
  <h1>GrouDASHpon</h1>
</div>
<div id="content-wrap">
  <div id="content">
    <div id="left">
      <div id="firehose"></div>
    </div>
    <div id="center">
      <div id="mapCanvas"></div>
    </div>
    <div id="right">
      <h2>Realtime Savings!</h2>
      <ul id="cities">
      <% City.all.each do |city| %>
      <li id="<%= "#{city['id']}-item" %>">
      <a target="_blank" href="<%= "http://groupon.com/#{city['id']}" %>"><%= city['name'] %></a>
        <span class="city-data" id="<%= city['id'] %>"></span>
      </li>
      <% end %>
      </ul>
      <p id="github"><a target="_blank" href="http://github.com/redsquirrel/groudashpon">Fork me on Github</a></p>
    </div>
    <div class="clear"></div>
    <div id="bottom">
      <div id="gutter"></div>
    </div>
  </div>
</div>